*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100vw;
}


body{
    background-color: rgb(0, 0, 0);
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem 1rem;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 999;
}
#header > h1{
    color: rgb(216, 217, 217);
}
#header > div{
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header a{
    color: rgb(196, 197, 197);
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    width: 7rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header a:hover{
    color: rgb(255, 255, 255);
    font-size: 18px;
}




#main{
    min-width: 40%;
    min-height: 70vh;
    padding: 30px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:10rem
}
#main textarea{
    min-height: 25vh;
    min-width: 100%;
    max-width: 90vw;
    padding: 10px;
    border-radius: 7px;
    border: white;
    background-color: rgb(54, 54, 54);
    outline: none;
    color: azure;
    font-size: 16px;
}
#main #essential-buttons{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#main #essential-buttons button{
    padding: 14px;
    font-size: 20px;
    border-radius: 25px;
    background-color: rgb(255, 128, 0);
    color: rgb(206, 206, 206);
    border: 1px solid gray;
    cursor: pointer;
}
#main #essential-buttons button:hover{
    transform: scale(1.1);
    background-color: rgb(255, 145, 36);
    border:1px solid white;
    transition: .2s;
    color: white;
}



/* login and signup */

#Login,#Signup{
    background-color: rgb(51, 51, 51);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
#form{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
    padding: 14px;
    box-shadow: 0px 0px 2px 2px rgb(31, 30, 30);
    border-radius: 20px;
}
#form > *{
    margin-top: 15px;
}
#form input {
    display: block;
    height: 3.5em;
    width: 90%;
    border-radius: 7px;
    background-color: rgb(51, 51, 51);
    border: 1px solid black;
    padding: 10px 20px 10px;
    color: white;
}

#form #input {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#or{
    display: flex;
    align-items: center;
    width: 90%;
}
#or .Dotted{
    border: 1px dashed white;
    width: 70%;
}

#form .sp {
    border-radius: 12px;
    border: 1px solid rgb(154, 154, 154);
    padding: 8px;
    width: 80%;
    text-align: center;
    cursor: pointer;
}
#form .sp:hover{
    transform: scale(1.1);
    transition: .2s;
}

#form .but {
    background-color: rgb(255, 81, 50);
    color: azure;
    border: 0;
}
#form .but:hover{
    transition: .3s;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    outline: auto;
}
#form a{
    color: rgb(196, 197, 197);
    text-decoration: none;
}
#form a:hover{
    color: rgb(255, 255, 255);
}


/* About */
#About{
    color: white;
    width: 100%;
    /* max-width: 70%; */
    height: 100vh;
    background: linear-gradient(to bottom, black, gray);
    text-align: center;
}
#About > *{
    margin: 20px;
}
#About a{
    color: rgb(94, 94, 255);
    font-size: 26px;
    text-decoration: none;
}
#About a:hover{
    color: rgb(0, 0, 255);
    font-size: 27px;
    font-weight: bold;
}